.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid rgb(245, 10, 139); */
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/102855026264484050/597CCCA5DCE1E71ADCF8BE13582F6615D35660B3/");
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 1px;
  flex-wrap: wrap;
  width: 80vw;
   

}

.listItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(233, 14, 14);
  font-size: 1.8rem;
  text-align: center;
  background-image: url("https://image.sistacafe.com/images/uploads/content_image/image/466720/1508305238-03d0eb7735cbf3c1007a9a7d777ea986.jpg");
       -webkit-background-size: cover;
    background-size: cover;
}

.byttonupdate{
  background-color: rgb(233, 18, 150);
  border-radius: 10%;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
